<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <xi:include href="macros.html" />
  <head>
    <title>Edit Blog Post</title>
  </head>

  <body>

    <xi:include href="fullblog_macro_post.html" />

    <div id="content" class="blog wiki">
      
    <py:with vars="is_create = not blog_edit.version;
                   can_create = 'BLOG_CREATE' in perm('blog');
                   is_edit = bool(blog_edit.version);
                   can_edit = 'BLOG_MODIFY_ALL' in perm(blog_edit.resource) or defined(
                        'blog_orig_author') or (
                        perm.username==blog_edit.author and 'BLOG_MODIFY_OWN' in perm(blog_edit.resource));
                   is_allowed = (is_create and can_create) or (is_edit and can_edit);
                  ">

      <div py:if="is_create and can_create" id="sidebar">
        <h4>Naming your blog posts</h4>
        <p>When naming your posts (post shortname), it is recommended to make them URL friendly
          (for instance avoid spaces).</p>
        <p>Blog posts can also be referenced with <tt>[blog:postname]</tt> wiki link syntax,
          so you may not want to make them too hard to read or write.</p>
        <p>Some names are reserved and not allowed - warnings will appear:</p>
        <ul>
          <li>'view', 'create', 'edit', 'archive', 'delete', 'category', 'author' -
            either on their own or as first item in a path.</li>
          <li>Numbers evaluating to N/M are seen as time periods and
            used for month-based browsing.</li>
        </ul>
        <p>The name of a post cannot be changed later.</p>
      </div>

      <div id="blog-main">
      
        <h1 py:if="not blog_edit.version">Create Blog Post</h1>
        <h1 py:if="blog_edit.version">Edit Blog Post</h1>

          <div py:if="not is_allowed" class="system-message">You do not have the required permission to
              ${is_create and 'create a blog post' or 'edit this blog post'}.</div>
          <form py:if="is_allowed"
                action="${(is_create and req.href.blog('create')) or req.href.blog('edit', blog_edit.name)}"
                method="post">
            <fieldset>
              <div py:if="defined('blog_action') and blog_action == 'preview'"
                      id="preview" class="blog-comment">
                <fieldset>
                  <legend>Comment for new version by ${req.authname}</legend>
                  ${wiki_to_html(context, blog_version_comment)}
                </fieldset>
                <fieldset>
                  <legend>Blog Post Preview</legend>
                  ${render_blog_post(blog_edit)}
                </fieldset>
              </div>
              <div py:if="defined('blog_edit') and not blog_edit.version" class="field">
                <label for="blog-name">Post shortname (for URL):</label><br />
                <input id="blog-name" type="text"
                      name="name" size="40"
                      value="${blog_edit.name or ''}" readonly="readonly"/>
              </div>
              <div py:if="defined('blog_edit') and blog_edit.version">
                <p>Post shortname (cannot be changed): ${blog_edit.name}</p>
                <input id="blog-name" type="hidden"
                      name="name" value="${blog_edit.name}"/>
              </div>
              <div class="field">
                <label for="blog-title">Title:</label><br />
                <input id="blog-title" type="text"
                      name="title" size="80"
                      value="${defined('blog_edit') and blog_edit.title or ''}"  />
              </div>
               <div class="field">
                <label for="blog-categories">Categories (space separated):</label><br />
                <input id="blog-categories" type="text" 
                      name="categories" size="40"
                      value="${defined('blog_edit') and blog_edit.categories or 'worklog'}" />
                      "worklog","会议纪要","投票", and others
              </div>
              <div class="field">
                <label for="blog-body">Post body (you may use
                  <a tabindex="42" href="${href.wiki('WikiFormatting')}">WikiFormatting</a>
                  here):
                </label><br />
                <textarea class="wikitext" id="blog-body" name="body" 
                  cols="80" rows="25">${defined('blog_edit') and blog_edit.body or ''}</textarea>
              </div>
              <div class="field">
                <label for="blog-author">Post Author:</label><br />
                <input id="blog-author" type="text" 
                      name="author" size="40"
                      value="${defined('blog_edit') and blog_edit.author or req.authname}" readonly="readonly"/>
              </div>
             
              <div class="field">
                <label for="blog-version-comment">Comment for this version by ${req.authname}:</label><br />
                <input id="blog-version-comment" type="text" 
                      name="new_version_comment" size="80"
                      value="${defined('blog_version_comment') and blog_version_comment or ''}" />
              </div>
              <div class="field">
                <input type="submit" name="blog-preview" value="Preview post" />
                <input size="30" type='submit' name="blog-save"
                    value="Save post" />
                <input type="hidden" name="action"
                      value="${defined('blog_edit') and blog_edit.version and 'edit' or 'new'}" />
                <input type="submit" name="blog-cancel" value="Cancel" />
              </div>
              <script type="text/javascript" src="${chrome.htdocs_location}js/wikitoolbar.js" />
            </fieldset>
          </form>

      </div>

    </py:with>
    </div>

  </body>
</html>
